i{
    padding-left: 5px;
    padding-right: 5px;
}

input{
    font-size: 110%;
    padding-left: 4px;
    border-radius: 6px;
}

button
{
    border-radius: 20%;
    border:none;
    padding-top: 2px;
    padding-bottom: 2px;
}