<div 
    style="text-align: center;" >
    <h2>Users Online</h2>

    <hr style="border-width: 1px;border-color: black; padding: 0; margin: 0;" >

</div>

<div class="list-container">
    <div class="row">
        <div class="col-xs-2">
            <img src="{{userData.photoURL}}" alt="">
        </div>
        <div class="col-xs-10" style="display: inline-block;">
            <h4 style="padding-left: 5px; margin-top: 5px;margin-bottom: 2px;">You</h4>
            <button class="btn" style="float: left;"  (click)="signout()" >Logout</button>
        </div>
    </div>
    <hr style="border-width: 2px; margin:0%" >
    <div *ngFor="let user of users" >
        <div *ngIf="user.email!=userData.email" class="row">
            <div class="col-xs-2">
                <img src="{{user.photoURL}}" alt="">
            </div>
            <div class="col-xs-10">
                    <h4 style="padding-left: 5px; margin-top: 5px;margin-bottom: 2px;"  >{{user.name}}</h4> 
                    <i style="padding-left: 5px; margin:3px" >{{user.email}}</i>    
            </div>
        </div>
        <hr style="border-width: 2px; margin:0%" >
    </div>
</div>