<div class="maincontent container-fluid">
    <div class="row">
        <div class="col-md-9 col">
            <div class="room-container" style="background-color: rgb(255, 255, 255);">
                <div #scroller class="messages-container" >
                    <app-feed></app-feed>
                </div>
                <div class="form-container">
                    <app-msgform></app-msgform>
                </div>
            </div>
        </div>
        <div class="col-md-3 col">
            <div class="users-container">
                <app-users></app-users>
            </div> 
        </div>
        
    </div>
</div>