.item
{
    display: inline-block;
    height: auto;
    max-width: 80%;
    background-color: rgb(248, 219, 219);
    padding : 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin:2px;
    border-radius: 5px;
}
.item2
{
    height: auto;
    background-color: rgb(189, 252, 247);
    max-width: 80%;
    padding : 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin:2px;
    border-radius: 5px;
    float : right;
}
.joined{
    text-align: center;
}

button
    {height: auto;
    background-color: yellowgreen;
    padding: 1px;
    margin: 2px;
    border: 0;
    border-radius: 0px;
}

 i {
    padding: 1px;
}
h5{
    font-weight: 600 ;
    margin:0;
    border: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.item i{
    font-weight: 120%;
    font-size: 85%;
}

.item2 i{
    
    font-size: 85%;
}